# you may change the configuration according to your own preferences

# postgresql
POSTGRES_PASSWORD='password'
POSTGRES_USER='user'
POSTGRES_DB='app'
POSTGRES_HOST_PORT=5432
POSTGRES_CONTAINER_PORT=5432
