# you may change the configuration according to your own preferences

# redis
REDIS_HOST_PORT=6379
REDIS_CONTAINER_PORT=6379
REDIS_USERNAME=auth_redis_user
REDIS_PASSWORD=change_me_to_a_strong_password
